.idea/dataSources
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/shelf
**/target
**/out
**/node_modules
*.xml.versionsBackup
*.iml
*\.DS_Store
.idea/dataSources.local.xml
/.mvn/wrapper/maven-wrapper.jar
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
